.button {
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 40px;
    border-radius: 5px;
    transition-duration: 0.3s;
    border: 0;
    padding: 0 20px;
}

.button:disabled,
.disabled {
    background: rgb(198, 198, 198);
    color: rgb(124, 122, 122);
}

.secondary {
    background: rgb(28, 43, 251);
}

.default {
    background: rgb(86, 29, 199);
}

.red {
    background: red;
}

.default:active,
.default:hover {
    background: rgb(49, 16, 115);
}

.red:active,
.red:hover {
    background: rgb(186, 4, 4);
}

.secondary:active,
.secondary:hover {
    background: rgb(21, 31, 177);
}